.App {
  text-align: center;
  background-color: #000;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video {

}

.canvas {
  position: absolute;
}